@model FinanceRequest.Models.BigViewModel

<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(model => model.Attachment.File, htmlAttributes: new { @class = "control-label m-1" })<a href="#" data-toggle="tooltip" data-placement="right" title="Upload 1 or more files. Only PDF documents and images (.jpg | .jpeg | .png) may be uploaded"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Attachment.File, "", new { @type = "file", @multiple = "multiple", @Name = "upload", @accept="image/*" })
        @Html.ValidationMessageFor(model => model.Attachment.File, "", new { @class = "text-danger" })
    </div>
</div>